/*footer*/
.contendor_footer{
    @include flex(space-between,column,center);
    padding: 50px;
    background-color: $violeta;
        p{ 
            margin: 10px;
            color:$blanco;
            font-weight: 700;
            font-size: 20px;
        }
        ul{
            @include flex(space-around,column,center);
            list-style-type: none;
            padding: 0;
            li{   margin: 5px;
                font-weight: 200;
                a{text-decoration: none;
                    color: $blanco;
                }
            } 
        }
   
}

